aiohttp==3.6.2
asgiref==3.2.3
async-timeout==3.0.1
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
Django==3.0.1
django-crispy-forms==1.8.1
idna==2.8
idna-ssl==1.1.0
multidict==4.7.2
numpy==1.18.0
Pillow==7.0.0
psycopg2==2.8.4
psycopg2-binary==2.8.4
pytz==2019.3
requests==2.22.0
sqlparse==0.3.0
typing-extensions==3.7.4.1
urllib3==1.25.7
yarl==1.4.2
